@model Mvc3rdParty.Web.Models.ListModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@foreach(var item in Model.Stocks)
{
    <p>
        @item.Id
        @item.Name
        @item.Ticker
    </p>
}

